.terraform/
.idea
.vscode
modules/docker-swarm/azure/v1/manager-token.txt
modules/docker-swarm/azure/v1/worker-token.txt
*.tfstate*
*.tfstate.backup
applications/revive-adserver/new_plan
*.tfvars
**/**/new_plan
.DS_Store
experiments/microk8s/ssh-keys
experiments/microk8s/kubeconfig.yaml
