.terraform/
.idea
.vscode
modules/docker-swarm/azure/v1/manager-token.txt
modules/docker-swarm/azure/v1/worker-token.txt
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
applications/revive-adserver/new_plan