services:
  app:
    image: kahfadstest.azurecr.io/qr-code-mgmt/app:latest
    depends_on:
      - redis
    volumes:
      - storage:/app/storage
    configs:
      - source: app
        target: /app/.env
    deploy:
      placement:
        constraints:
          - node.labels.qrm == true
      labels:
        - traefik.enable=true
        - traefik.http.routers.qrc-http.entrypoints=web
        - traefik.http.routers.qrc-http.rule=Host(`qr.kahfads.com`)
        - traefik.http.routers.qrc-http.middlewares=qrc-mw1,qrc-mw2
        - traefik.http.routers.qrc-https.middlewares=qrc-mw3
        - traefik.http.routers.qrc-https.entrypoints=websecure
        - traefik.http.routers.qrc-https.rule=Host(`qr.kahfads.com`)
        - traefik.http.routers.qrc-https.tls=true
        - traefik.http.routers.qrc-https.tls.certresolver=letsEncrypt
        - traefik.http.services.qrc.loadbalancer.server.port=8000
        - traefik.http.middlewares.qrc-mw1.redirectscheme.scheme=https
        - traefik.http.middlewares.qrc-mw1.redirectscheme.permanent=true
        - traefik.http.middlewares.qrc-mw2.forwardauth.trustForwardHeader=true
        - traefik.http.middlewares.qrc-mw3.plugin.cloudflarewarp.disableDefault=false

  echo:
    image: mendhak/http-https-echo:31
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.routers.qrc-echo-http.entrypoints=web
        - traefik.http.routers.qrc-echo-http.rule=Host(`echo.kahfads.com`)
        - traefik.http.routers.qrc-echo-http.middlewares=qrc-echo-mw1,qrc-echo-mw2
        - traefik.http.routers.qrc-echo-https.middlewares=qrc-echo-mw3
        - traefik.http.routers.qrc-echo-https.entrypoints=websecure
        - traefik.http.routers.qrc-echo-https.rule=Host(`echo.kahfads.com`)
        - traefik.http.routers.qrc-echo-https.tls=true
        - traefik.http.routers.qrc-echo-https.tls.certresolver=letsEncrypt
        - traefik.http.services.qrc-echo.loadbalancer.server.port=8080
        - traefik.http.middlewares.qrc-echo-mw1.redirectscheme.scheme=https
        - traefik.http.middlewares.qrc-echo-mw1.redirectscheme.permanent=true
        - traefik.http.middlewares.qrc-echo-mw2.forwardauth.trustForwardHeader=true
        - traefik.http.middlewares.qrc-echo-mw3.plugin.cloudflarewarp.disableDefault=false

  redis:
    image: redis:alpine

volumes:
  ${volume}:
    driver: local
    driver_opts:
      type: "nfs"
      o: "nfsvers=3,addr=${AZURE_STORAGE_ACCOUNT_HOST},nolock,soft,rw"
      device: ":/${AZURE_STORAGE_ACCOUNT}/${volume}"
  framework:
  logs:
  storage:
configs:
  app:
    name: ${APP_CONFIG_NAME}
    external: true